// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.counters {
    margin-right: 30px;
    font-size: 10px;
    text-align: center;

    strong {
        display: block;
        font-size: 2em;
    }

    .vote, .answer {
        width: 60px;
        height: 60px;
    }

    .status {
        &.unanswered {
            border: none;
        }

        &.answered {
            border: 1px solid $color-green;
            color: $color-green;
        }

        &.answered-accepted {
            background: $color-green;
            color: $color-white;
        }
    }

    .view {
        margin-top: 10px;
    }
}

.form-delete {
    display: inline;
}

.vote-controls {
    min-width: 60px;
    margin-right: 30px;
    text-align: center;
    color: #495057;
  }

  .vote-controls span,
  .vote-controls a {
    display: block;
  }

  .vote-controls span.votes-count {
    font-size: 25px;
  }

  .vote-controls span.favorites-count {
    font-size: 12px;
  }

  .vote-controls a {
    cursor: pointer;
    color: #6c757d;
  }

  .vote-controls a.off,
  .vote-controls a.off:hover {
    color: #adb5bd;
  }

  .vote-controls a.favorite.favorited,
  .vote-controls a.favorite.favorited:hover {
    color: #ffc107;
  }

  .vote-controls a.vote-accepted {
    color: #28a745;
  }
